.about{
    padding-top: 84px;
    padding-bottom: 84px;

    @media screen and (min-width: 720px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 120px;
        padding-bottom: 120px;
    }

    & .container{
        display: flex;
        gap: 30px;
    }

    &__list{
        display: none;

        @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    }

    &__picture{
        width: 270px;
        height: 445px;
    }

    &__elements{
        display: none;

        @media screen and (min-width: 720px){
        @media screen and (max-width: 1199px){
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    }
    }

    &__img{
        @media screen and (min-width: 720px){
        width: 330px;
        height: 235px;
    }
    }

    &__text{
        display: flex;
        gap: 20px;
        align-items: center;
        color: #303030;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;

        &::before{
            display: block;
            content: "";
            width: 60px;
            height: 1px;
            background: #303030;
        }
    }

    &__title{
        width: 306px;
        color: #303030;
        font-family: Raleway;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.4px;
        margin-bottom: 20px;

        @media screen and (min-width: 720px){
        width: 330px;
    }
        @media screen and (min-width: 1200px){
        width: 470px;
        font-size: 42px;
        letter-spacing: 2.1px;
    }
    }

    &__desk{
        width: 418px;
        height: 52px;
        color: #555;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.32px;
        margin-bottom: 20px;

        @media screen and (min-width: 720px){
        width: 330px;
        height: 60px;
        font-size: 18px;
        line-height: 1.66;
    }
        @media screen and (min-width: 1200px){
        width: 470px;
    }
    }

    &__deskription{
        width: 418px;
        height: 156px;
        color: #555;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: 0.28px;
        margin-bottom: 40px;

        @media screen and (min-width: 720px){
        width: 330px;
        height: 182px;
        margin-bottom: 77px;
    }
        @media screen and (min-width: 1200px){
        width: 470px;
        height: 130px;
        margin-bottom: 42px;
    }
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #303030;
        border-radius: 25px;
        border: 1px solid #FF6C00;  
        flex-shrink: 0;   
        padding: 12px 20px; 
        background-color: transparent;
    }
}